<div class="form-container">
  <a routerLink="/home" class="back"><img src="back_arrow.png" class="icon">Vissza a főoldalra</a>
  <h1 class="title">Profil</h1>
  <div class="user-data">
    <h4>Felhasználó neve</h4>
    <p>{{user?.name}}</p>
    <h4>Email cím</h4>
    <p>{{user?.email}}</p>
    <h4>Telefonszám</h4>
    <p>{{user?.phoneNumber}}</p>
  </div>
  <div class="buttons">
    <button class="btn" routerLink="/edit">Módosítás</button>
    <button class="btn" routerLink="/password-reset">Jelszó megváltoztatása</button>
  </div>
</div>
