<div class="form-container">
  <a routerLink="/profile" class="back">
    <img src="back_arrow.png" class="icon">Vissza a profil oldalra
  </a>
  <h1>Adatok módosítása</h1>

  <form class="form" (ngSubmit)="onSubmit()">
    <div class="text-input">
      <input type="text" [(ngModel)]="user.name" name="name" id="name" placeholder="Név" class="inp" />
      <input type="tel" [(ngModel)]="user.phoneNumber" name="phone" id="phone" placeholder="Telefonszám" class="inp" />
      <input type="email" [(ngModel)]="user.email" name="email" id="email" placeholder="Email cím" class="inp" />
    </div>

    <!-- **Hibaüzenetek megjelenítése** -->
    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>

    <!-- **Sikeres módosítás visszajelzése** -->
    <p *ngIf="successMessage" class="success-message">{{ successMessage }}</p>

    <button type="submit" class="submit">Mentés</button>
    <a class="submit" routerLink="/profile">Mégsem</a>
  </form>
</div>

