<div class="form-container">
    <h1>Adatok módosítása</h1>
    <form class="form">
        <div class="text-input">
            <h4></h4>
            <input type="text" name="username" id="username" placeholder="Felhasználónév" class="inp" email />
            <input type="text" name="name" id="name" placeholder="Név" class="inp" />
            <input type="tel" name="phone" id="phone" placeholder="Telefonszám" class="inp" />
            <input type="email" name="email" id="email" placeholder="Email cím" class="inp" email />
        </div>
        <button class="submit">Jelszó módosítása</button>
        <div class="buttons">
            <button type="submit" class="submit" >Mentés</button>
            <a class="submit" routerLink="/profile">Mégsem</a>
        </div>
    </form>
</div>