<div class="form-container">
  <h1>Jelszó megváltoztatása</h1>
  <form class="form" (ngSubmit)="onSubmit()">
      <div class="text-input">
          <input type="password" id="password" (ngModel)]="oldPassword" name="oldPassword" placeholder="Régi jelszó" class="inp" required minlength="8" />
          <input type="password" [(ngModel)]="newPassword" name="newPassword" placeholder="Új jelszó" class="inp" required minlength="8" />
          <input type="password" [(ngModel)]="confirmPassword" name="password2" placeholder="Jelszó megerősítése" class="inp" required minlength="8" />
      </div>
      <div class="buttons">
          <button type="submit" class="submit">Módosítás</button>
          <button type="button" class="submit" routerLink="/profile">Mégsem</button>
      </div>
  </form>
  <p *ngIf="message" class="success">{{ message }}</p>
  <p *ngIf="error" class="error">{{ error }}</p>
</div>
