<div class="form-container">
  <a routerLink="/home" class="back"><img src="back_arrow.png" class="icon">Vissza a főoldalra</a>

  <h1>Új esemény hozzáadása</h1>
  <form class="form">
    <div class="text-input">
      <input type="text" name="name" id="name" class="inp" placeholder="Esemény neve">
        <input type="datetime" name="date" id="date" class="inp dInp" placeholder="Esemény ideje">
      <input type="number" name="time" id="time" class="inp" placeholder="Időtartam">
      <input type="number" name="numberOfPeople" id="numberOfPeople" class="inp" placeholder="Létszám">
      <input type="number" name="age" id="age" class="inp" placeholder="Korosztály">
    </div>
    <div class="input-checkbox">
      <input type="checkbox" name="isHungarian" id="isHungarian" class="cInp">
      <label for="isHungarian">Magyar</label>
    </div>
      <button type="submit" class="submit">Hozzáadás</button>
  </form>

</div>
