.input-checkbox{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  inline-size: 70%;
  gap: 10px;
  font-size: 18px;
  font-weight: 600;
}

.cInp{
  width: 15px;
  height: 15px;
}

.dInp{
  width: 100%;

}

.text-input{
  position: relative;
}