<div class="container">
  <h1 class="title">Jelentkezett felhasználók</h1>
  <section class="filter-table">
    <a routerLink="/home" class="back"><img src="back_arrow.png" class="icon">Vissza a főoldalra</a>

    <div *ngIf="registeredUsers.length==0">
      <h2 >Jelenleg még senki nem jelentkezett az eseményre</h2>
      <img src="close.png" class="empty">
    </div>

    <table class="table" *ngIf="registeredUsers.length > 0">
      <tr class="table-header">
        <th>Név</th>
        <th>Email</th>
        <th>Telefonszám</th>
      </tr>

      <tr *ngFor="let user of registeredUsers">
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.phoneNumber}}</td>
      </tr>
    </table>

  </section>
</div>
