<div class="container">
  <h1 class="title">Események</h1>
  <section class="filter-table">
    <table class="table">
      <tr class="table-header">
        <th>Esemény neve</th>
        <th>Dátum kezdete</th>
        <th>Időtartam</th>
        <th>Nyelv</th>
        <th>Kor</th>
        <th>Létszám</th>
        <th></th>
        <th *ngIf="isAdmin"></th>
      </tr>
      <tr *ngFor="let event of paginatedEvents">
        <td>{{event.name}}</td>
        <td>{{event.date}}</td>
        <td>{{event.time}} óra</td>
        <td>{{event.isHungarian ? "Magyar" : "Angol"}}</td>
        <td>{{event.age}}</td>
        <td>{{event.numberOfPeople}}</td>
        <td>
          <a class="btn" (click)="onClickApply(event.id)">
            {{ registeredEventIds.has(event.id) ? "Lejelentkezés" : "Jelentkezés" }}
          </a>
        </td>

        <td *ngIf="isAdmin"><a class="delete" (click)="deleteEvent(event.id)">Törlés</a></td>
      </tr>
    </table>
  </section>
  <div class="pagination">
    <button (click)="currentPage = currentPage - 1" [disabled]="currentPage === 1">Előző</button>

    <span>Oldal {{ currentPage }} / {{ totalPages }}</span>

    <button (click)="currentPage = currentPage + 1" [disabled]="currentPage === totalPages">Következő</button>
  </div>
</div>

<div class="container">
  <h1 class="title">Jelentkezett események</h1>
  <section class="filter-table">
    <aside>
      <button class="filter">Exportálás Google Calendarba</button>
    </aside>
    <table class="table">
      <tr class="table-header">
        <th>Esemény neve</th>
        <th>Dátum kezdete</th>
        <th>Időtartam</th>
        <th>Nyelv</th>
        <th>Kor</th>
        <th>Létszám</th>
        <th></th>
      </tr>
      <tr *ngFor="let event of paginatedRegisteredEvents">
        <td>{{event.name}}</td>
        <td>{{event.date}}</td>
        <td>{{event.time}} óra</td>
        <td>{{event.isHungarian ? "Magyar" : "Angol"}}</td>
        <td>{{event.age}}</td>
        <td>{{event.numberOfPeople}}</td>
        <td><a class="delete" (click)="onClickApply(event.id)">Lejelentkezés</a></td>
      </tr>
    </table>
  </section>
  <div class="pagination">
    <button (click)="registeredCurrentPage = registeredCurrentPage - 1" [disabled]="registeredCurrentPage === 1">Előző</button>
    <span>Oldal {{ registeredCurrentPage }} / {{ registeredTotalPages }}</span>
    <button (click)="registeredCurrentPage = registeredCurrentPage + 1" [disabled]="registeredCurrentPage === registeredTotalPages">Következő</button>
  </div>
</div>
