.delete, .details{
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  height: 40px;
  width: 50px;

}

.apply{
  background-color: #283692;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
  font-family: "Inter", sans-serif;

}

.apply:disabled{
  background-color: #8e94c5;
  cursor: not-allowed;
}

.buttons{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-top: 50px;
  font-size: 14px;
  font-weight: bolder;
  letter-spacing: -0.25px;
  align-items: center;
  cursor: pointer;
}

.pagination{
  display: flex;
  justify-content: right;
  align-items: center;
  margin-top: 20px;

}

.paginationButton{
  background-color: #283692;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin: 0 10px;
  font-family: "Inter", sans-serif;
}

.paginationButton:disabled{
  background-color: #8e94c5;
  cursor: not-allowed;
}


.export{
  background-color: #283692;
  color: white;
  font-size: 18px;
  font-weight: 500;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Inter", sans-serif;
}

.export:disabled{
  background-color: #8e94c5;
}

.entitlement{
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar{
  height: 30px;
  width: 30px;
  cursor: pointer;
}


.calendar-button{
  background-color: transparent;
  border: none;
}
