<div class="container">
  Hello {{ name }}!
  <h1 class="title">Események</h1>
  <section class="filter-table">
    <aside>
      <button class="filter">Szűrés</button>
    </aside>
    <table class="table">
      <tr class="table-header">
        <th>Esemény neve</th>
        <th>Dátum kezdete</th>
        <th>Időtartam</th>
        <th>Nyelv</th>
        <th>Kor</th>
        <th>Létszám</th>
        <th></th>
        <th></th>
      </tr>
      <tr *ngFor="let event of events">
        <td>{{event.name}}</td>
        <td>{{event.date}}</td>
        <td>{{event.time}} óra</td>
        <td>{{event.isHungarian ? "Magyar" : "Angol"}}</td>
        <td>{{event.age}}</td>
        <td>{{event.numberOfPeople}}</td>
        <td>
          <a class="btn" (click)="onClickApply(1)">{{
            !isApplied ? "Jelentkezés" : "Lejelentkezés"
          }}</a>
        </td>
        <td><a class="delete">Törlés</a></td>
      </tr>
    </table>
  </section>
</div>
