/* HEADER */
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color:linen; */
  height: 50px;
  padding: 0 10px;
  position: relative;
  border-bottom: 2px solid #C4D0DB;
}

/* NAVIGATION */
.main-nav:link, .main-nav:visited{
  color: #000F7D;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}
.nav-list{
  list-style: none;
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav-link:link, .nav-link:visited{
  display: inline-block;
  text-decoration: none;
  color: #000F7D;
  font-weight: bold;
  font-size: 18px;

}

.nav-link:hover, .nav-link:active{
  border-bottom: 2px solid #ABC0E9;
  padding: 5px;
}


