<header class="header">
    <a routerLink="/" class="main-nav">Kezdőlap</a>
    <nav class="nav">
        <ul class="nav-list">
            <li routerLinkActive="active"><a class="nav-link" routerLink="/profile">Profil</a></li>
            <li routerLinkActive="active"><a class="nav-link" routerLink="/users">Felhasználók</a></li>
            <li routerLinkActive="active"><a class="nav-link" routerLink="/newDate">Új eseméyny</a></li>
            <li routerLinkActive="active"><a class="nav-link" routerLink="/auth">Bejelentkezés</a></li>
            <li routerLinkActive="active"><a class="nav-link" routerLink="/auth">Regisztráció</a></li>
            <li routerLinkActive="active"><a class="nav-link" routerLink="/auth">Kijelentkezés</a></li>
        </ul>
    </nav>
</header>
