<header class="header">
  <a routerLink="/" class="main-nav">VolunteerApp</a>
  <nav class="nav">
    <ul class="nav-list left">
      <ng-container *ngIf="isAuth">
        <li routerLinkActive="active"><a class="nav-link" routerLink="/home">Események</a></li>
        <li routerLinkActive="active"><a class="nav-link" routerLink="/profile">Profil</a></li>
        <li routerLinkActive="active" *ngIf="isAdmin || isCoordinator"><a class="nav-link" routerLink="/users">Felhasználók</a></li>
        <li routerLinkActive="active"><a class="nav-link" routerLink="/new-date" *ngIf="isAdmin || isCoordinator">Új esemény</a></li>
      </ng-container>
    </ul>

    <ul class="nav-list right">
      <ng-container *ngIf="isAuth">
        <li>Üdv, {{name}}</li>
        <li routerLinkActive="active">
          <a class="nav-link logout" (click)="onLogout()">Kijelentkezés</a>
        </li>
      </ng-container>

      <ng-container *ngIf="!isAuth">
        <li routerLinkActive="active"><a class="nav-link " routerLink="/auth">Bejelentkezés</a></li>
        <li routerLinkActive="active">
          <a class="nav-link register" [routerLink]="['/auth']" [queryParams]="{ mode: 'register' }">Regisztráció</a>
        </li>
      </ng-container>
    </ul>
  </nav>
</header>
