<div class="form-container">
  <h1>Új jelszó igénylése</h1>
  <form (ngSubmit)="onSubmit()" class="form">
      <div class="text-input">
          <input type="email" [(ngModel)]="email" name="email" id="email" placeholder="Email cím" class="inp" required/>
      </div>
      <div class="buttons">
          <button type="submit" class="submit">Küldés</button>
          <button type="button" class="submit" routerLink="/auth">Mégsem</button>
      </div>
  </form>

  <p *ngIf="message" class="success">{{ message }}</p>
  <p *ngIf="error" class="error">{{ error }}</p>
</div>

