.login, .register{
  margin-top: 20px;
  height: auto;
}

p{
  font-size: 14px;
  color: #000F7D;
  font-weight: bolder;
  padding: 5px;
  cursor: pointer;
  letter-spacing: -0.25px;
  text-align: center;
  margin: 0 15px;
}

.help-block{
  color: darkred;
  font-size: 14px;
}

.error-message{
  color: darkred;
  font-size: 14px;
  font-weight: bolder;
  letter-spacing: -0.25px;
  margin: 0 10px;
  padding-bottom: 10px;
}

.inp:invalid + .error-message {
  margin-top: -10px;
}


