.login, .register{
  margin-top: 20px;
  height: auto;
}

p{
  font-size: 14px;
  color: #000F7D;
  font-weight: bolder;
  padding: 5px;
  cursor: pointer;
  letter-spacing: -0.25px;
  text-align: center;
  margin: 0 15px;
}

.help-block{
  color: darkred;
  font-size: 14px;
}

.submit:disabled{
  background-color: #8e94c5;
  cursor: not-allowed;
  border: #8e94c5;
}



