<div class="container">
  <h1 class="title">Felhasználók</h1>
  <section class="filter-table">
    <table class="table">
      <tr class="table-header">
        <th>Felhasználó neve</th>
        <th>Email cím</th>
        <th>Telefonszám</th>
        <th>Admin</th>
      </tr>
      <tr *ngFor="let user of paginatedUsers">
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.phoneNumber}}</td>
        @if (user.role=="admin"){
          <td>{{"igen"}}</td>
        }
        @else{
          <td>{{"nem"}}</td>
        }
      </tr>
      </table>
  </section>
  <div class="pagination">
    <button (click)="currentPage = currentPage - 1" [disabled]="currentPage === 1">Előző</button>

    <span>Oldal {{ currentPage }} / {{ totalPages }}</span>

    <button (click)="currentPage = currentPage + 1" [disabled]="currentPage === totalPages">Következő</button>
  </div>
</div>
