<div class="container">
  <h1 class="title">Felhasználók</h1>
  <section class="filter-table">
    <table class="table">
      <tr class="table-header">
        <th>Felhasználó neve</th>
        <th>Email cím</th>
        <th>Telefonszám</th>
        <th *ngIf="isAdmin && !isCoordinator">Admin</th>
        <th *ngIf="isAdmin && !isCoordinator">Koordinátor</th>
      </tr>


      <tr *ngFor="let user of paginatedUsers">
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phoneNumber }}</td>

        <!-- Admin checkbox -->
        <td *ngIf="isAdmin">
          <input
            type="checkbox"
            [checked]="user?.role === 'admin'"
            [disabled]="user?.role === 'coordinator'"
            (change)="onRoleToggle(user, $event, 'admin')"
          />
        </td>

        <td *ngIf="isAdmin ">
          <input
            type="checkbox"
            [checked]="user?.role === 'coordinator'"
            [disabled]="user?.role === 'admin'"
            (change)="onRoleToggle(user, $event, 'coordinator')"
          />
        </td>

      </tr>

      </table>
      <div class="pagination">
        <button (click)="currentPage = currentPage - 1" [disabled]="currentPage === 1">Előző</button>

        <span>Oldal {{ currentPage }} / {{ totalPages }}</span>

        <button (click)="currentPage = currentPage + 1" [disabled]="currentPage === totalPages">Következő</button>
      </div>
  </section>
</div>
